.redes-responsive{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: -88dvh;
}

.MuiSpeedDial-fab {
  background-color: white !important;
  height: 55px !important;
  width: 55px !important;
}

.redes-button{
  position: relative;
  /*top: 510px;*/

  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0px;
  color: white;
  transition: background-color 0.5s;
  transition-property: transform;
  display: flex;
  align-items: center;
  justify-content: center;

  &.click{
    transform: rotate(135deg);
  }

  &:hover{
    background-color: #606060;
  }
}

.lista-redes-responsive{
  position: relative;
  gap: 10px;
  /*top: 300px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: -1;
  border-radius: 10px 10px 0px 0px;

  >a{
    width: 40px;
    height: 40px;
  }

  &.click{
    display: block;
  }
}