.proyectos-main{
  min-height: 100dvh;
  height: auto;
}

.proyectos-main .parrafo-proyecto{
  width: 24%;
  height: auto;
  padding: 0 10px;
  >p{
    text-align: justify;
  }
}

.proyectos-main .lista-proyectos{
  width: 74%;
  height: auto;
  padding: 0 10px;
  padding-bottom: 5rem;
  overflow: hidden;
}

.proyecto-item{
  width: 424px;
  height: 420px;
  
  >p{
    text-decoration: none;
    color: black;
  }
}

.proyecto-item:hover .imagen-proyecto > img{
  transform: scale(1.2);
}