.cabecera-scroll{
  position: fixed;
  background-color: black;
  height: 47px;
  width: 100%;
  max-width: 950px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 40;
  border-radius: 20px;
  animation: show-bottom 0.8s alternate ease;

  .logo-container{
    width: 40px;
  }

}

.cabecera-scroll .lista-navegacion{
  height: 45px;
  width: 520px;
  margin: 0;
  padding: 0;
  gap: 10px;

  .lista-item{
    border-radius: 12px;
    background-color: black;
    width: 250px;
    height: 35px;
    transition: all 0.6s ease;
    cursor: pointer;

    &.active{
      background-color: #606060;
    }
  }
}

@keyframes show-bottom {
  from{
    transform: translate(-50%, 100%);
  }
  to{
    transform: translate(-50%, 0%);
  }
}