.servicios-lista{
  margin: 0;
  padding: 0;
  gap: 20px 30px;
}

.asesor-container{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .asesor-item{
    width: 100px;
  }
}

.dialog{
  margin: auto;
  width: 750px;
  border-radius: 38px;
  background-color: rgba(255, 96, 96, 0.9);
  border: none;
}

.dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog .formContacto input{
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.dialog .formContacto textarea{
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.agenda-item{
  width: 500px;
  background-color: #B1B1B1;

  .footer-agenda{
    height: 120px;
    gap: 0px 40px;

    .boton-agenda{
      width: 180px;
      height: 40px;
      transform: translateY(-30px);
      border-radius: 22px;
      border: none;
      background-color: rgba(0, 0, 0, 1);
      transition: background-color 0.4s ease-in-out;

      &:hover{
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    .imagen-consultoria{
      width: 130px;
    }
  }
}

.close{
  background-color: transparent;
  border: none;
}