.nav-redes{
  width: 200px;
  height: 40px;

  .red-item{
    width: 30px;
    height: 30px;
    background-color: white;
    transition: background-color 0.4s ease-in-out;
  }
}

.nav-redes .red-item:hover{
  background-color: rgba(255, 255, 255, 0.5);
}