.cabeceraScroll-container{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  animation: show-header 0.8s alternate;
}

.cabeceraScroll-container .nav-cabecera{
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;

  &.responsive{
    justify-content: space-between;
  }
}

.cabeceraScroll-container .nav-cabecera .logo-container{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabeceraScroll-container .nav-container{
  border: none;
  padding: 0;
  border-radius: 20px;
  transform: translateY(18%);
}

.cabeceraScroll-container .redes-container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 280px;
  transform: translateY(7.5px);

  .red-container{
    position: relative;
    display: flex;
    align-items: center;

    .red-item{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: black;
      border: none;
      transition: all 0.5s ease ;

      &:hover{
        background-color: #606060;
      }
    }
  }
  
}

.nav-item{
  display: flex;
  justify-content: center;
  width: 140px;
  height: 45px;
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.6s;
}

.nav-item.active{
  background-color: #606060;
}

.nav-container{
  border-radius: 2px;
}

/*
.nav-link{
  z-index: 5;
  >span{
    z-index: 4;
  }
}
*/
@keyframes show-header {
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}